@model BCH.Comex.Common.UI_Modulos.UI_Grid

@{ 
    var htmlAttributes = (object)ViewData["htmlAttributes"];
    var newAttrs = HtmlHelper.AnonymousObjectToHtmlAttributes(htmlAttributes);
    var columns = newAttrs.ContainsKey("columns") ? (string[])newAttrs["columns"] : new string[0];
    if (newAttrs.ContainsKey("columns"))
    {
        newAttrs.Remove("columns");
    }
    var str = String.Empty;
    foreach(var kvp in newAttrs.Keys)
    {
        str += kvp + "=" + newAttrs[kvp].ToString();
    }
}


<table class="table table-hover table-bordered" @str >
    <thead>
        <tr>
            @foreach(var c in columns)
            {
                <th>@c</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (var i=0; i<Model.Items.Count;i++)
        {
            @Html.EditorFor(m => m.Items[i])
        }
    </tbody>
</table>

