@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "IndexRecepcionMensajeriaSwift";
    //BCH.Comex.Core.BL.SWEM.UI_Modulos.UI_Mdi_Principal Mdi_Principal = ViewBag.MdiPrincipal;
}
@{ Html.RenderPartial("_MenuRecepcionMensajeriaSwift"); }
<h2>Index</h2>
