<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<appSettings>
    <add key="ADWS.Url" value="net.tcp://comexdesa.com:9389/ActiveDirectoryWebServices/Windows/AccountManagement"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADWS.Server" value="ldap:389"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADWS.PartitionDN" value="DC=comexdesa,DC=com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADWS.ResourseContextPartition" value="DC=comexdesa,DC=com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADWS.ResourseContextServer" value="comexdesaad.comexdesa.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>-->
  <connectionStrings>
  <add name="cext01Entities"
    connectionString="metadata=res://*/Cext01Model.csdl|res://*/Cext01Model.ssdl|res://*/Cext01Model.msl;
       provider=System.Data.SqlClient;provider connection string=&quot;
       data source=comexsqldesa.cloudapp.net;initial catalog=cext01;persist security info=True;
       user id=comex;password=Banco.Des@;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="sbcorEntities"
     connectionString="metadata=res://*/SbcorModel.csdl|res://*/SbcorModel.ssdl|res://*/SbcorModel.msl;
      provider=System.Data.SqlClient;provider connection string=&quot;data source=comexsqldesa.cloudapp.net;
      initial catalog=sbcor;
      user id=comex;password=Banco.Des@;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient"
     xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="swiftEntities"
      connectionString="metadata=res://*/SwiftModel.csdl|res://*/SwiftModel.ssdl|res://*/SwiftModel.msl;
         provider=System.Data.SqlClient;provider connection string=&quot;data source=comexsqldesa.cloudapp.net;
         initial catalog=swift;
         user id=comex;password=Banco.Des@;MultipleActiveResultSets=True;App=EntityFramework&quot;"
       providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="portalEntities"
    connectionString="metadata=res://*/PortalModel.csdl|res://*/PortalModel.ssdl|res://*/PortalModel.msl;
       provider=System.Data.SqlClient;provider connection string=&quot;
       data source=comexsqldesa.cloudapp.net;initial catalog=cext01;persist security info=True;
       user id=comex;password=Banco.Des@;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>