<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="cext01Entities"
         connectionString="metadata=res://*/Cext01Model.csdl|res://*/Cext01Model.ssdl|res://*/Cext01Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.255.10\SQLSERVER;initial catalog=cext01;user id=comex;password=Banco.T3st;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="sbcorEntities"
         connectionString="metadata=res://*/SbcorModel.csdl|res://*/SbcorModel.ssdl|res://*/SbcorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.255.10\SQLSERVER;initial catalog=sbcor;user id=comex;password=Banco.T3st;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="swiftEntities"
         connectionString="metadata=res://*/SwiftModel.csdl|res://*/SwiftModel.ssdl|res://*/SwiftModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.255.10\SQLSERVER;initial catalog=swift;user id=comex;password=Banco.T3st;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="portalEntities"
         connectionString="metadata=res://*/PortalModel.csdl|res://*/PortalModel.ssdl|res://*/PortalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.255.10\SQLSERVER;initial catalog=cext01;persist security info=True;user id=comex;password=Banco.T3st;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CustodiaEntities"
         connectionString="metadata=res://*/Custodia.csdl|res://*/Custodia.ssdl|res://*/Custodia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=152.139.146.96;initial catalog=CUSTODIA;persist security info=True;user id=AppCustodia;password=AppCustodia2k8;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="http://200.14.147.250:8011/Cosmos/CS002027_ConsultaCuentaCorriente"
                name="ConsultaCuentaCorrienteSOAP"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://200.14.147.250:8011/Cosmos/CS002031_AbonoCuentaCosmosCodFC"
                name="AbonoCuentaCosmosCodFCSOAP"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://200.14.147.250:8011/Cosmos/CS002032_CargoCuentaCosmosCodFC"
                binding="basicHttpBinding"
                name="CargoCuentaCosmosCodFCSOAP"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://200.14.147.250:8011/SaldosCartolas/CS000069_ConsultaSaldoCuenta"
                name="ConsultasSaldoCuentaSOAP"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://200.14.147.250:8011/Cosmos/CS002025_ReversaCosmos"
                name="ReversaCosmosSOAP"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://200.14.147.250:8011/contactabilidad/CS000027_ConsultaDireccionesProducto"
                name="ConsultaDireccionesProductoSOAP"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://200.14.147.250:8011/contactabilidad/CS000028_ConsultaInformacionBasicaPersona"
                name="ConsultaInformacionBasicaPersonaSOAP"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://200.14.147.250:8011/BoletaGarantia/CS000058_ConsultaCliente"
                name="ConsultaTipoClienteSOAP"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://200.14.147.250:8011/contactabilidad/CS000026_ConsultaProductoCliente"
                name="ConsultaProductoClienteSOAP"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://200.14.147.250:8011/RenovacionInternet/CS000191_ObtenerDatosFichaChica"
                name="ObtenerDatosFichaChicaSOAP"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://200.14.147.250:8011/contactabilidad/CS000029_ConsultaInformacionBasicaEmpresas"
                name="ConsultaInformacionBasicaEmpresasSOAP"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://200.14.147.250:8011/chequeras/CS000007_ConsultaFirmas"
                name="ConsultaFirmas"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>

  <system.diagnostics>
    <switches>
      <add name="sourceSwitch" value="Verbose"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <!--Apaga el tracing-->
      <!--<add name="sourceSwitch" value="off" />-->
      <add name="lightweight" value="false" />
    </switches>
    <sources>
      <!--Trazas de comex-->
      <source name="BCHComexTraceSource" xdt:Locator="Match(name)">
        <listeners xdt:Transform="Replace">
          <clear/>
          <add name="Text" />
        </listeners>
      </source>
      <!--Trazas de Excepciones de comex-->
      <source name="BCHComexExceptionsTraceSource" xdt:Locator="Match(name)">
        <listeners xdt:Transform="Replace">
          <clear/>
          <add name="TextExceptions" />
        </listeners>
      </source>
      <!--Trazas de llamada a BD de comex-->
      <source name="BCHComexDataBaseTraceSource"  xdt:Locator="Match(name)">
        <listeners xdt:Transform="Replace">
          <clear/>
          <add name="TextDataBase" />
        </listeners>
      </source>
      <!--Trazas de llamados WCF-->
      <source name="System.ServiceModel.MessageLogging"  xdt:Locator="Match(name)">
        <listeners xdt:Transform="Replace">
          <clear/>
          <add name="XmlWcf" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>