<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<appSettings>
    <add key="ADWS.Url" value="net.tcp://200.14.169.180:9389/ActiveDirectoryWebServices/Windows/AccountManagement"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADWS.Server" value="ldap:389"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADWS.PartitionDN" value="DC=labchile,DC=cl"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADWS.ResourseContextPartition" value="DC=labchile,DC=cl"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADWS.ResourseContextServer" value="LABCHILEDC30.labchile.cl"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>-->
  <connectionStrings>
    <add name="cext01Entities"
      connectionString="metadata=res://*/Cext01Model.csdl|res://*/Cext01Model.ssdl|res://*/Cext01Model.msl;
       provider=System.Data.SqlClient;provider connection string=&quot;
       data source=10.4.1.37;initial catalog=cext01_R2;persist security info=True;
       user id=comex;password=Banco.T3st;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="sbcorEntities"
       connectionString="metadata=res://*/SbcorModel.csdl|res://*/SbcorModel.ssdl|res://*/SbcorModel.msl;
      provider=System.Data.SqlClient;provider connection string=&quot;data source=10.4.1.37;
      initial catalog=sbcor_R2;
      user id=comex;password=Banco.T3st;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="swiftEntities"
        connectionString="metadata=res://*/SwiftModel.csdl|res://*/SwiftModel.ssdl|res://*/SwiftModel.msl;
         provider=System.Data.SqlClient;provider connection string=&quot;data source=10.4.1.37;
         initial catalog=swift_R2;
         user id=comex;password=Banco.T3st;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="portalEntities"
      connectionString="metadata=res://*/PortalModel.csdl|res://*/PortalModel.ssdl|res://*/PortalModel.msl;
       provider=System.Data.SqlClient;provider connection string=&quot;
       data source=10.4.1.37;initial catalog=cext01_R2;persist security info=True;
       user id=comex;password=Banco.T3st;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <add name="sourceSwitch" value="Verbose" 
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <!--Apaga el tracing-->
      <!--<add name="sourceSwitch" value="off" />-->
      <add name="lightweight" value="false" />
    </switches>
  </system.diagnostics>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
     
    <customErrors mode="On" xdt:Transform="SetAttributes" >
    </customErrors>
    
  </system.web>
</configuration>