<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="cext01Entities" connectionString="metadata=res://*/Cext01Model.csdl|res://*/Cext01Model.ssdl|res://*/Cext01Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ComexSqlDesa.cloudapp.net;initial catalog=cext01;persist security info=True;user id=comex;password=Passw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="sbcorEntities" connectionString="metadata=res://*/SbcorModel.csdl|res://*/SbcorModel.ssdl|res://*/SbcorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ComexSqlDesa.cloudapp.net;initial catalog=sbcor;user id=comex;password=Passw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="swiftEntities" connectionString="metadata=res://*/SwiftModel.csdl|res://*/SwiftModel.ssdl|res://*/SwiftModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ComexSqlDesa.cloudapp.net;initial catalog=swift;user id=comex;password=Passw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualBasic.PowerPacks.Vs" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>