<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-xs-3">V.Clausula</label>
        <div class="col-xs-9">
            <input type="text" id="txt_VClausula" class="form-control monto" style="width:100px" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Comisiones</label>
        <div class="col-xs-9">
            <input type="text" id="txt_Comisiones" class="form-control monto" style="width:100px" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Otros Gastos</label>
        <div class="col-xs-9">
            <input type="text" id="txt_CAM_Otros" class="form-control monto" style="width:100px" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">V. Líquido</label>
        <div class="col-xs-9">
            <input type="text" id="txt_CAM_Liquido" class="form-control monto" style="width:100px" />
        </div>
    </div>
</div>
