<div class="modal fade" id="modalMsgPrtyErrorUpd" tabindex="-1" role="dialog" aria-labelledby="Error al actualizar Participante">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    <strong>¡Error!</strong><br />
                    Error al actualizar tabla de participantes.<br /><br />
                    <div class="text-right">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPrtEnt12" tabindex="-1" role="dialog" aria-labelledby="Seleccionar Tipo Participante">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    <strong>Salvar Participante</strong><br />
                    <br />
                    ATENCION :  El participante ha sido ingresado como cliente, pero no se han ingresado cuentas corrientes<br />
                    ¿Como desea salvarlo?<br /><br />
                    <div class="text-right">
                        <button type="button" class="btn btn-danger" id="prtEnt12Cliente">Cliente</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" id="prtEnt12Individuo">Individuo</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" id='prtEnt12Cancelar'>Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMsgPrtyNomDir" tabindex="-1" role="dialog" aria-labelledby="Error Razón Social/Dirección">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert alert-warning" role="alert">
                    <strong>¡Advertencia!</strong><br />
                    Debe ingresar por lo menos una razón social y/o una dirección.<br /><br />
                    <div class="text-right">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMsgPrtyCuentas" tabindex="-1" role="dialog" aria-labelledby="Error Cuentas/Lineas">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert alert-warning" role="alert">
                    <strong>¡Advertencia!</strong><br />
                    Participante es Banco Corresponsal y Acreedor: Debe ingresar por lo menos una Cuenta Corriente y/o una Línea de Crédito.<br /><br />
                    <div class="text-right">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
