@model BCH.Comex.Core.Entities.Cext01.FundTransfer.DataTypes.PlanillaVisibleAnulada

@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <title></title>
    <style type="text/css">
        body {
            margin-top: 0px;
            margin-left: 0px;
        }

        #page_1 {
            position: relative;
            overflow: hidden;
            margin: 13px 0px 0px 0px;
            padding: 0px;
            border: none;
            width: 816px;
        }

            #page_1 #id_1 {
                border: none;
                margin: 0px 0px 0px 34px;
                padding: 0px;
                border: none;
                width: 782px;
                overflow: hidden;
            }

            #page_1 #id_2 {
                border: none;
                margin: 106px 0px 0px 0px;
                padding: 0px;
                border: none;
                width: 816px;
                overflow: hidden;
            }





        .ft0 {
            font: 12px 'Times';
            line-height: 15px;
        }

        .ft1 {
            font: 12px 'Times New Roman';
            line-height: 15px;
        }

        .ft2 {
            font: 11px 'Times New Roman';
            line-height: 14px;
        }

        .ft3 {
            font: 1px 'Times New Roman';
            line-height: 8px;
        }

        .ft4 {
            font: 1px 'Times New Roman';
            line-height: 11px;
        }

        .ft5 {
            font: 12px 'Times New Roman';
            line-height: 13px;
        }

        .ft6 {
            font: 16px 'Helvetica';
            line-height: 18px;
        }

        .p0 {
            text-align: left;
            padding-left: 37px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p1 {
            text-align: right;
            padding-right: 146px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p2 {
            text-align: left;
            padding-left: 15px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p3 {
            text-align: left;
            padding-left: 81px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p4 {
            text-align: right;
            padding-right: 150px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p5 {
            text-align: left;
            padding-left: 51px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p6 {
            text-align: right;
            padding-right: 10px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p7 {
            text-align: center;
            padding-right: 170px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p8 {
            text-align: right;
            padding-right: 34px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p9 {
            text-align: right;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p10 {
            text-align: right;
            padding-right: 5px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p11 {
            text-align: right;
            padding-right: 14px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p12 {
            text-align: center;
            padding-right: 171px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p13 {
            text-align: left;
            padding-left: 462px;
            margin-top: 227px;
            margin-bottom: 0px;
        }

        .p14 {
            text-align: left;
            padding-left: 15px;
            margin-top: 33px;
            margin-bottom: 0px;
        }

        .p15 {
            text-align: right;
            padding-right: 88px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p16 {
            text-align: left;
            padding-left: 88px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p17 {
            text-align: left;
            padding-left: 51px;
            margin-top: 27px;
            margin-bottom: 0px;
        }

        .p18 {
            text-align: left;
            padding-left: 660px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p19 {
            text-align: left;
            padding-left: 51px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p20 {
            text-align: center;
            padding-left: 42px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p21 {
            text-align: right;
            padding-right: 63px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p22 {
            text-align: right;
            padding-right: 43px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p23 {
            text-align: center;
            padding-left: 41px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p24 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p25 {
            text-align: left;
            padding-left: 42px;
            margin-top: 83px;
            margin-bottom: 0px;
        }
        .p26 {
            text-align: left;
            padding-left: 55px;
            margin-top: 19px;
            margin-bottom: 0px;
        }

        .td0 {
            padding: 0px;
            margin: 0px;
            width: 167px;
            vertical-align: bottom;
        }

        .td1 {
            padding: 0px;
            margin: 0px;
            width: 215px;
            vertical-align: bottom;
        }

        .td2 {
            padding: 0px;
            margin: 0px;
            width: 244px;
            vertical-align: bottom;
        }

        .td3 {
            padding: 0px;
            margin: 0px;
            width: 110px;
            vertical-align: bottom;
        }

        .td4 {
            padding: 0px;
            margin: 0px;
            width: 382px;
            vertical-align: bottom;
        }

        .td5 {
            padding: 0px;
            margin: 0px;
            width: 145px;
            vertical-align: bottom;
        }

        .td6 {
            padding: 0px;
            margin: 0px;
            width: 223px;
            vertical-align: bottom;
        }

        .td7 {
            padding: 0px;
            margin: 0px;
            width: 93px;
            vertical-align: bottom;
        }

        .td8 {
            padding: 0px;
            margin: 0px;
            width: 138px;
            vertical-align: bottom;
        }

        .td9 {
            padding: 0px;
            margin: 0px;
            width: 61px;
            vertical-align: bottom;
        }

        .td10 {
            padding: 0px;
            margin: 0px;
            width: 456px;
            vertical-align: bottom;
        }

        .td11 {
            padding: 0px;
            margin: 0px;
            width: 81px;
            vertical-align: bottom;
        }

        .tr0 {
            height: 17px;
        }

        .tr1 {
            height: 45px;
        }

        .tr2 {
            height: 24px;
        }

        .tr3 {
            height: 46px;
        }

        .tr4 {
            height: 54px;
        }

        .tr5 {
            height: 19px;
        }

        .tr6 {
            height: 8px;
        }

        .tr7 {
            height: 11px;
        }

        .tr8 {
            height: 66px;
        }

        .tr9 {
            height: 31px;
        }

        .tr10 {
            height: 32px;
        }

        .tr11 {
            height: 33px;
        }

        .tr12 {
            height: 34px;
        }

        .tr13 {
            height: 15px;
        }

        .tr14 {
            height: 16px;
        }

        .t0 {
            width: 736px;
            font: 12px 'Times New Roman';
        }

        .t1 {
            width: 461px;
            margin-left: 15px;
            margin-top: 8px;
            font: 12px 'Times New Roman';
        }

        .t2 {
            width: 736px;
            margin-top: 45px;
            font: 12px 'Times New Roman';
        }
    </style>
</head>

<body>
    <div id="page_1">


        <div id="id_1">
            <table cellpadding=0 cellspacing=0 class="t0">
                <tr>
                    <td class="tr0 td0"><p class="p0 ft0">&nbsp;</p></td>
                    <td class="tr0 td1"><p class="p0 ft0">&nbsp;</p></td>
                    <td class="tr0 td2"><p class="p1 ft1">@*095*@@Model.VxAnus_TipAnu</p></td>
                    <td class="tr0 td3"><p class="p0 ft0">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr1 td0"><p class="p2 ft1"><nobr>@*098748-3*@@Model.VxAnus_NumPre</nobr></p></td>
                    <td class="tr1 td1"><p class="p0 ft0">&nbsp;</p></td>
                    <td class="tr1 td2"><p class="p0 ft0">&nbsp;</p></td>
                    <td class="tr1 td3"><p class="p0 ft0">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr2 td0"><p class="p2 ft1">@*26/11/2012*@@Model.VxAnus_fecpre @*FecVen*@</p></td>
                    <td class="tr2 td1"><p class="p3 ft2">@*SANTIAGO*@@Model.VPbc_Pbc_PbcDes</p></td>
                    <td class="tr2 td2"><p class="p4 ft1">@*25*@@Model.COD_PLAZA_25</p></td>
                    <td class="tr2 td3"><p class="p0 ft0">&nbsp;</p></td>
                </tr>
                <tr>
                    <td colspan=2 class="tr3 td4"><p class="p5 ft1">@*COMERC.E INDUSTR.AGUAMAR LTDA.*@@Model.DatPrt</p></td>
                    <td class="tr3 td2"><p class="p0 ft0">&nbsp;</p></td>
                    <td rowspan=2 class="tr4 td3"><p class="p6 ft1"><nobr>@*076410440-4*@@Model.VxAnus_RutExp</nobr></p></td>
                </tr>
                <tr>
                    <td rowspan=2 class="tr5 td0"><p class="p5 ft1">@*Avenida Colon 1088*@@Model.DatPrt2</p></td>
                    <td class="tr6 td1"><p class="p0 ft3">&nbsp;</p></td>
                    <td class="tr6 td2"><p class="p0 ft3">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr7 td1"><p class="p0 ft4">&nbsp;</p></td>
                    <td class="tr7 td2"><p class="p0 ft4">&nbsp;</p></td>
                    <td class="tr7 td3"><p class="p0 ft4">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr8 td0"><p class="p0 ft2">@*BANCO DE CHILE*@@Model.VBco_NomBco</p></td>
                    <td class="tr8 td1"><p class="p7 ft1">@*015*@@Model.VxAnus_EntAut</p></td>
                    <td class="tr8 td2"><p class="p8 ft2">@*DOLAR USA*@@Model.VMnd_Mnd_MndNom</p></td>
                    <td class="tr8 td3"><p class="p9 ft1">@*013*@@Model.VMnd_Mnd_MndCbc</p></td>
                </tr>
                <tr>
                    <td class="tr9 td0"><p class="p0 ft1"><nobr>@*098632-5*@@Model.VxAnus_NumpreO @*numdec*@</nobr></p></td>
                    <td class="tr9 td1"><p class="p0 ft0">&nbsp;</p></td>
                    <td class="tr9 td2"><p class="p10 ft1">@*100.000,00*@@Model.VxAnus_MtoDolPo</p></td>
                    <td class="tr9 td3"><p class="p0 ft0">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr10 td0"><p class="p0 ft1">@Model.VxAnus_FecpreO @*FecDec*@</p></td>
                    <td class="tr10 td1"><p class="p0 ft0">&nbsp;</p></td>
                    <td class="tr10 td2"><p class="p11 ft1">@*1,0000*@@Model.VxAnus_Mtopar</p></td>
                    <td class="tr10 td3"><p class="p0 ft0">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr11 td0"><p class="p0 ft2">@*CRÉDITO INTERNO*@@Model.VxAnus_NomTipPln</p></td>
                    <td class="tr11 td1"><p class="p7 ft1">@*403*@@Model.VxAnus_TipPln</p></td>
                    <td class="tr11 td2"><p class="p10 ft1">@*100000,00*@@Model.VxAnus_MtoDolA</p></td>
                    <td class="tr11 td3"><p class="p0 ft0">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr12 td0"><p class="p0 ft2">@*SANTIAGO*@@Model.VPbc_Pbc_PbcDes</p></td>
                    <td class="tr12 td1"><p class="p12 ft1">@*25*@@Model.COD_PLAZA_25</p></td>
                    <td class="tr11 td2"><p class="p10 ft1">@*100000,00*@@Model.VxAnus_MtoDol</p></td>
                    <td class="tr11 td3"><p class="p0 ft0">&nbsp;</p></td>
                </tr>
            </table>
           
            <p class="p25 ft0">@Model.VxAnus_MtoDol</p>
            <p class="p26 ft0">@Model.VxAnus_Mtopar</p>
        </div>
    </div>
</body>
</html>
