BCH.Comex.Common/bin
BCH.Comex.Common/obj/TestBanco
BCH.Comex.Core.BL.BancaMundial/bin
BCH.Comex.Core.BL.BancaMundial/obj/TestBanco
BCH.Comex.Core.BL.Centinela/bin
BCH.Comex.Core.BL.Centinela/obj/TestBanco
BCH.Comex.Core.BL.Common/bin
BCH.Comex.Core.BL.Common/obj/TestBanco
BCH.Comex.Core.BL.ControlIntegral/bin
BCH.Comex.Core.BL.ControlIntegral/obj/TestBanco
BCH.Comex.Core.BL.Portal/bin
BCH.Comex.Core.BL.Portal/obj/TestBanco
BCH.Comex.Core.BL.SWAU/bin
BCH.Comex.Core.BL.SWAU/obj/TestBanco
BCH.Comex.Core.BL.SWBO/bin
BCH.Comex.Core.BL.SWBO/obj/TestBanco
BCH.Comex.Core.BL.SWCE/bin
BCH.Comex.Core.BL.SWCE/obj/TestBanco
BCH.Comex.Core.BL.SWEM/bin
BCH.Comex.Core.BL.SWEM/obj/TestBanco
BCH.Comex.Core.BL.SWEN/bin
BCH.Comex.Core.BL.SWEN/obj/TestBanco
BCH.Comex.Core.BL.SWGC/bin
BCH.Comex.Core.BL.SWGC/obj/TestBanco
BCH.Comex.Core.BL.SWI102/bin
BCH.Comex.Core.BL.SWI102/obj/TestBanco
BCH.Comex.Core.BL.SWI200/bin
BCH.Comex.Core.BL.SWI200/obj/TestBanco
BCH.Comex.Core.BL.SWI300/bin
BCH.Comex.Core.BL.SWI300/obj/TestBanco
BCH.Comex.Core.BL.SWMA/bin
BCH.Comex.Core.BL.SWMA/obj/TestBanco
BCH.Comex.Core.BL.SWRE/bin
BCH.Comex.Core.BL.SWRE/obj/TestBanco
BCH.Comex.Core.BL.SWSE/bin
BCH.Comex.Core.BL.SWSE/obj/TestBanco
BCH.Comex.Core.BL.XCFT/bin
BCH.Comex.Core.BL.XCFT/obj/TestBanco
BCH.Comex.Core.BL.XEGI/bin
BCH.Comex.Core.BL.XEGI/obj/TestBanco
BCH.Comex.Core.BL.XEVA/bin
BCH.Comex.Core.BL.XEVA/obj/TestBanco
BCH.Comex.Core.BL.XGCN/bin
BCH.Comex.Core.BL.XGCN/obj/TestBanco
BCH.Comex.Core.BL.XGCV/bin
BCH.Comex.Core.BL.XGCV/obj/TestBanco
BCH.Comex.Core.BL.XGFD/bin
BCH.Comex.Core.BL.XGFD/obj/TestBanco
BCH.Comex.Core.BL.XGGL/bin
BCH.Comex.Core.BL.XGGL/obj/TestBanco
BCH.Comex.Core.BL.XGID/bin
BCH.Comex.Core.BL.XGID/obj/TestBanco
BCH.Comex.Core.BL.XGPL/bin
BCH.Comex.Core.BL.XGPL/obj/TestBanco
BCH.Comex.Core.BL.XGPY/bin
BCH.Comex.Core.BL.XGPY/obj/TestBanco
BCH.Comex.Core.BL.XGSV/bin
BCH.Comex.Core.BL.XGSV/obj/TestBanco
BCH.Comex.Core.Entities.Cext01/bin
BCH.Comex.Core.Entities.Cext01/obj/TestBanco
BCH.Comex.Core.Entities.Custodia/bin
BCH.Comex.Core.Entities.Custodia/obj/TestBanco
BCH.Comex.Core.Entities.Portal/bin
BCH.Comex.Core.Entities.Portal/obj/TestBanco
BCH.Comex.Core.Entities.Sbcor/bin
BCH.Comex.Core.Entities.Sbcor/obj/TestBanco
BCH.Comex.Core.Entities.Swift/bin
BCH.Comex.Core.Entities.Swift/obj/TestBanco
BCH.Comex.Data.DAL.Cext01/bin
BCH.Comex.Data.DAL.Cext01/obj/TestBanco
BCH.Comex.Data.DAL.Custodia/bin
BCH.Comex.Data.DAL.Custodia/obj/TestBanco
BCH.Comex.Data.DAL.Portal/bin
BCH.Comex.Data.DAL.Portal/obj/Debug/TempPE
BCH.Comex.Data.DAL.Portal/obj/TestBanco
BCH.Comex.Data.DAL.Sbcor/bin
BCH.Comex.Data.DAL.Sbcor/obj/TestBanco
BCH.Comex.Data.DAL.Services/bin
BCH.Comex.Data.DAL.Services/obj/TestBanco
BCH.Comex.Data.DAL.Swift/bin
BCH.Comex.Data.DAL.Swift/obj/TestBanco
BCH.Comex.Data.DAL/bin
BCH.Comex.Data.DAL/obj/TestBanco
BCH.Comex.UI.API/bin
BCH.Comex.UI.Web/bin
BCH.Comex.UI.Web/obj/TestBanco
BCH.Comex.Utils/bin
BCH.Comex.Utils/obj/TestBanco
BCH.Comex.Common/obj/Debug/BCH.Comex.Common.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.BancaMundial/obj/Debug/BCH.Comex.Core.BL.SBCB.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.Common/obj/Debug/BCH.Comex.Core.BL.Common.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.Portal/obj/Debug/BCH.Comex.Core.BL.Portal.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.SWAU/obj/Debug/BCH.Comex.Core.BL.SWAU.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.SWEM/obj/Debug/BCH.Comex.Core.BL.SWEM.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.SWI200/obj/Debug/BCH.Comex.Core.BL.SWI200.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.SWMA/obj/Debug/BCH.Comex.Core.BL.SWMA.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.SWRE/obj/Debug/BCH.Comex.Core.BL.SWRE.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.SWSE/obj/Debug/BCH.Comex.Core.BL.SWSE.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.XCFT/obj/Debug/BCH.Comex.Core.BL.XCFT.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.XEGI/obj/Debug/BCH.Comex.Core.BL.XEGI.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.XGCV/obj/Debug/BCH.Comex.Core.BL.XGCV.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.XGFD/obj/Debug/BCH.Comex.Core.BL.XGFD.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.XGGL/obj/Debug/BCH.Comex.Core.BL.XGGL.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.XGPL/obj/Debug/BCH.Comex.Core.BL.XGPL.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.XGPY/obj/Debug/BCH.Comex.Core.BL.XGPY.csproj.FileListAbsolute.txt
BCH.Comex.Core.Entities.Cext01/obj/Debug/BCH.Comex.Core.Entities.Cext01.csproj.FileListAbsolute.txt
BCH.Comex.Core.Entities.Custodia/obj/Debug/BCH.Comex.Core.Entities.Custodia.csproj.FileListAbsolute.txt
BCH.Comex.Core.Entities.Portal/obj/Debug/BCH.Comex.Core.Entities.Portal.csproj.FileListAbsolute.txt
BCH.Comex.Core.Entities.Sbcor/obj/Debug/BCH.Comex.Core.Entities.Sbcor.csproj.FileListAbsolute.txt
BCH.Comex.Core.Entities.Swift/obj/Debug/BCH.Comex.Core.Entities.Swift.csproj.FileListAbsolute.txt
BCH.Comex.Data.DAL.Cext01/obj/Debug/BCH.Comex.Data.DAL.Cext01.csproj.FileListAbsolute.txt
BCH.Comex.Data.DAL.Custodia/obj/Debug/BCH.Comex.Data.DAL.Custodia.csproj.FileListAbsolute.txt
BCH.Comex.Data.DAL.Portal/obj/Debug/BCH.Comex.Data.DAL.Portal.csproj.FileListAbsolute.txt
BCH.Comex.Data.DAL.Sbcor/obj/Debug/BCH.Comex.Data.DAL.Sbcor.csproj.FileListAbsolute.txt
BCH.Comex.Data.DAL.Services/obj/Debug/BCH.Comex.Data.DAL.Services.csproj.FileListAbsolute.txt
BCH.Comex.Data.DAL.Swift/obj/Debug/BCH.Comex.Data.DAL.Swift.csproj.FileListAbsolute.txt
BCH.Comex.Data.DAL/obj/Debug/BCH.Comex.Data.DAL.csproj.FileListAbsolute.txt
BCH.Comex.UI.API/obj/Debug/BCH.Comex.UI.API.csproj.FileListAbsolute.txt
BCH.Comex.UI.Web/obj/Debug/BCH.Comex.UI.Web.csproj.FileListAbsolute.txt
BCH.Comex.Utils/obj/Debug/BCH.Comex.Utils.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.Centinela/obj/Debug/BCH.Comex.Core.BL.Centinela.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.SWEN/obj/Debug/BCH.Comex.Core.BL.SWEN.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.SWGC/obj/Debug/BCH.Comex.Core.BL.SWGC.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.SWI300/obj/Debug/BCH.Comex.Core.BL.SWI300.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.XGCN/obj/Debug/BCH.Comex.Core.BL.XGCN.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.XGID/obj/Debug/BCH.Comex.Core.BL.XGID.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.ControlIntegral/obj/Debug/BCH.Comex.Core.BL.CONTROLINTEGRAL.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.XGSV/obj/Debug/BCH.Comex.Core.BL.XGSV.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.SWCE/obj/Debug/BCH.Comex.Core.BL.SWCE.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.SWGC/obj/Debug/BCH.Comex.Core.BL.SWGC.csproj.FileListAbsolute.txt
BCH.Comex.Core.Entities.Portal/obj/Debug/BCH.Comex.Core.Entities.Portal.dll
BCH.Comex.Core.Entities.Sbcor/obj/Debug/BCH.Comex.Core.Entities.Sbcor.dll
BCH.Comex.Core.Entities.Swift/obj/Debug/BCH.Comex.Core.Entities.Swift.dll
BCH.Comex.Utils/obj/
BCH.Comex.Core.BL.SWBO/obj/Debug/BCH.Comex.Core.BL.SWBO.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.SWI102/obj/Debug/BCH.Comex.Core.BL.SWI102.csproj.FileListAbsolute.txt
BCH.Comex.Core.BL.XEVA/obj/Debug/BCH.Comex.Core.BL.XEVA.csproj.FileListAbsolute.txt
BCH.Comex.Common/obj/Debug/BCH.Comex.Common.dll
BCH.Comex.Core.BL.BancaMundial/obj/Debug/BCH.Comex.Core.BL.BancaMundial.dll
BCH.Comex.Core.BL.Centinela/obj/Debug/BCH.Comex.Core.BL.Centinela.dll
BCH.Comex.Core.BL.Common/obj/Debug/BCH.Comex.Core.BL.Common.dll
BCH.Comex.Core.BL.ControlIntegral/obj/Debug/BCH.Comex.Core.BL.ControlIntegral.dll
BCH.Comex.Core.BL.Portal/obj/Debug/BCH.Comex.Core.BL.Portal.dll
BCH.Comex.Core.BL.SWAU/obj/Debug/BCH.Comex.Core.BL.SWAU.dll
BCH.Comex.Core.BL.SWBO/obj/Debug/BCH.Comex.Core.BL.SWBO.dll
BCH.Comex.Core.BL.SWCE/obj/Debug/BCH.Comex.Core.BL.SWCE.dll
BCH.Comex.Core.BL.SWEM/obj/Debug/BCH.Comex.Core.BL.SWEM.dll
BCH.Comex.Core.BL.SWEN/obj/Debug/BCH.Comex.Core.BL.SWEN.dll
BCH.Comex.Core.BL.SWGC/obj/Debug/BCH.Comex.Core.BL.SWGC.dll
BCH.Comex.Core.BL.SWI102/obj/Debug/BCH.Comex.Core.BL.SWI102.dll
BCH.Comex.Core.BL.SWI200/obj/Debug/BCH.Comex.Core.BL.SWI200.dll
BCH.Comex.Core.BL.SWI300/obj/Debug/BCH.Comex.Core.BL.SWI300.dll
BCH.Comex.Core.BL.SWMA/obj/Debug/BCH.Comex.Core.BL.SWMA.dll
BCH.Comex.Core.BL.SWRE/obj/Debug/BCH.Comex.Core.BL.SWRE.dll
BCH.Comex.Core.BL.SWSE/obj/Debug/BCH.Comex.Core.BL.SWSE.dll
BCH.Comex.Core.BL.XCFT/obj/Debug/BCH.Comex.Core.BL.XCFT.dll
BCH.Comex.Core.BL.XEGI/obj/Debug/BCH.Comex.Core.BL.XEGI.dll
BCH.Comex.Core.BL.XEVA/obj/Debug/BCH.Comex.Core.BL.XEVA.dll
BCH.Comex.Core.BL.XGCN/obj/Debug/BCH.Comex.Core.BL.XGCN.dll
BCH.Comex.Core.BL.XGCV/obj/Debug/BCH.Comex.Core.BL.XGCV.dll
BCH.Comex.Core.BL.XGFD/obj/Debug/BCH.Comex.Core.BL.XGFD.dll
BCH.Comex.Core.BL.XGGL/obj/Debug/BCH.Comex.Core.BL.XGGL.dll
BCH.Comex.Core.BL.XGID/obj/Debug/BCH.Comex.Core.BL.XGID.dll
BCH.Comex.Core.BL.XGPL/obj/Debug/BCH.Comex.Core.BL.XGPL.dll
BCH.Comex.Core.BL.XGPY/obj/Debug/BCH.Comex.Core.BL.XGPY.dll
BCH.Comex.Core.BL.XGSV/obj/Debug/BCH.Comex.Core.BL.XGSV.dll
BCH.Comex.Core.Entities.Cext01/obj/Debug/BCH.Comex.Core.Entities.Cext01.dll
BCH.Comex.Core.Entities.Custodia/obj/Debug/BCH.Comex.Core.Entities.Custodia.dll
BCH.Comex.Data.DAL.Cext01/obj/Debug/BCH.Comex.Data.DAL.Cext01.dll
BCH.Comex.Data.DAL.Custodia/obj/Debug/BCH.Comex.Data.DAL.Custodia.dll
BCH.Comex.Data.DAL.Portal/obj/Debug/BCH.Comex.Data.DAL.Portal.dll
BCH.Comex.Data.DAL.Sbcor/obj/Debug/BCH.Comex.Data.DAL.Sbcor.dll
BCH.Comex.Data.DAL.Services/obj/Debug/BCH.Comex.Data.DAL.Services.dll
BCH.Comex.Data.DAL.Swift/obj/Debug/BCH.Comex.Data.DAL.Swift.dll
BCH.Comex.Data.DAL/obj/Debug/BCH.Comex.Data.DAL.dll
BCH.Comex.UI.API/obj/Debug/BCH.Comex.UI.API.dll
BCH.Comex.UI.API/obj/Debug/build.force
BCH.Comex.UI.Web/obj/Debug/BCH.Comex.UI.Web.dll
BCH.Comex.Data.DAL.Cext01/obj/Debug/edmxResourcesToEmbed/Cext01Model.csdl
BCH.Comex.Data.DAL.Cext01/obj/Debug/edmxResourcesToEmbed/Cext01Model.msl
BCH.Comex.Data.DAL.Cext01/obj/Debug/edmxResourcesToEmbed/Cext01Model.ssdl
BCH.Comex.Data.DAL.Cext01/obj/Debug/TempPE/